PUBLIC_URL=/                                                                        # Base URL where the React application is hosted.
REACT_APP_BACKEND_API_URL=http://localhost:3050/api                                 # URL of the back-end Node.js server.